<section class="fontPrincipal container-fluid">
  <div class="container">
    <div class="row haut">
      <div class="col-xs-12 col-md-6 titre">
        <h1>Alexandra Maquet</h1>
        <h2>* Créatrice de sites internet *</h2>
      </div>
      <div class="col-xs-12 col-md-6 textImg">
        <p>そうさ　悲しみをやさしさに 自分らしさを力に 迷いながらでもいい　歩き出して もう一回　もう一回 誰かの期待にずっと応え 誉められるのが好きなのですか なりたい自分を摺り替えても 笑顔はいつでも素敵ですか 始まりだけ　夢見て起きる
          その先なら　いつか自分の腕で そうだ　大事な物は　いつも 形のないものだけ 手に入れても　なくしても 気付かぬまま そうさ　悲しみをやさしさに 自分らしさを力に 迷いながらでもいい　歩き出して もう一回　もう一回 ずるい大人は出逢うたび
          頭ごなしな説教だけ 自分を素直に出せなくなって 傷付けながらすぐに尖って 新しい風　味方につけて 探していいんだ　いつか青い鳥を そうだ　大事な物は　いつも 形のないものだけ 手に入れても　なくしても 気付かぬまま そうさ　悲しみをやさしさに
          自分らしさを力に 迷いながらでもいい　歩き出して 涙の後は　なぜか吹っ切れてた 空に虹が出るように　自然なこと 雨はあがった だから　大事な物は　いつも 形のないものだけ 手に入れても　なくしても 気付かぬまま そうさ　悲しみをやさしさに
          自分らしさを力に 君ならきっとやれる　信じていて もう一回　もう一回 もう一回　もういいかい？
        </p>
      </div>
    </div>
  </div>

  <!-- nav bar -->
  <div class="container-fluid navBar">
    <nav>
      <ul>
        <li>
          <a href="#perso">À PROPOS</a>
        </li>
        <li>
          <a href="#moi">MES COMPÉTENCES</a>
        </li>
        <li>
          <a href="#projets">MES PROJETS</a>
        </li>
        <li>
          <a href="#exp">MES EXPÉRIENCES</a>
        </li>
        <li>
          <a href="#contact">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- fin nav bar -->

</section>

<section id="perso" class="container-fluid">
  <div class="perso container">
    <div class="top-border contactleft"></div>
    <div class="top-border contactright"></div>
    <h2>Qui suis-je ?</h2>
    <p>Actuellement étudiante dans le développement web -full stack JS-, je suis avant tout une grande passionnée de nouvelles
      technologies (domotique, bots, A.I.,...), d'art classique || contemporain (peinture, musique, tatouage, architecture),
      de jeux vidéos (simulation, FPS), d'histoire (l'univers, les hommes, ...), de langues (linguistique, éthymologie, ...),
      d'horlorgerie, d'astronomie et encore pleins d'autres choses. J'aime de manière générale apprendre de nouvelles choses!
    </p>

  </div>
</section>

<section id="moi" class="container-fluid fontPrincipal">
  <div class="container moi2">
    <div class="col-xs-12">
      <h2>Mes compétences</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6 left">
          <p>HTML 5</p>
          <p>CSS 3</p>
          <p>Javascript / Typescript</p>
          <p>Bootstrap 3+</p>
          <p>Angular 4+</p>
          <p>Inkscape</p>
          <p>JQuery</p>
          <p>VueJs</p>
        </div>

        <div class="col-xs-12 col-md-6 right">
          <p>Scrum</p>
          <p>SEO</p>
          <p>Visual Studio Code</p>
          <p>Marketing digital (Google)</p>
          <p>Git / Git Flow</p>
          <p>Firebase</p>
          <p>Ionic</p>
          <p>UX</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="projets">
  <div class="container-fluid projetBg">
    <div class="container projet">

      <div class="col-xs-12 ">
        <h2>Mes projets</h2>
      </div>

      <div class="row bloc_content_area">

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4>
                <i class="fa fa-briefcase" aria-hidden="true"></i> Co-working</h4>
              <div class="separetor"></div>
              <p>Essai en équipe pour la création d'un site de co-working au-dessus de mon école:
                <br>
                <br>
                <a class="link" href="https://github.com/matthieumarais/CoworkingLaLoupe">repo git</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4>
                <i class="fa fa-address-card" aria-hidden="true"></i> Pokédex</h4>
              <div class="separetor"></div>
              <p>Prototype d'un pokédex réalisé lors d'un hackaton interne à l'école.
                <br>
                <br>
                <a class="link" href="https://github.com/PierreTsia/pokedex">repo git</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4>
                <i class="fa fa-gamepad" aria-hidden="true"></i> Jeu de pirates!</h4>
              <div class="separetor"></div>
              <p>Réalisation d'un jeu multijoueur en temps réel en JS sous Angular4.
                <br>
                <br>
                <a class="link" href="https://github.com/AlexandraMaquet/yarr.io">repo git</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4>
                <i class="fas fa-code" aria-hidden="true"></i> Blog</h4>
              <div class="separetor"></div>
              <p>Prototype de blog personnel pour m'exercer au SEO et à l'UX.
                <br>
                <br>
                <a class="link" href="https://enchaussettejecode.000webhostapp.com/">coding chaussette</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4>
                <i class="fa fa-tree" aria-hidden="true"></i> Wild christmas</h4>
              <div class="separetor"></div>
              <p>Prototype de site de noël lors d'un hackaton de 32h au sein de l'école.
                <br>
                <br>
                <a class="link" href="https://github.com/AlexandraMaquet/WildChristmas">repo git</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4>
                <i class="fas fa-users" aria-hidden="true"></i> Foyer de vie</h4>
              <div class="separetor"></div>
              <p>_ EN COURS _ Projet client pour la création d'un site administrable.
                <br>
                <br>
                <a class="link">en cours</a>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

<section id="exp" class="container-fluid exp">
  <div class="container exp2">
    <div class="col-xs-12">
      <h2>Mes expériences</h2>
    </div>

    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h4 class="mb-0" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Hôtesse principale _ McDonald's (Versailles)
          </h4>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="cardBody">
            <ul>
              <li>Gestion des clients (renseignements, conflits)</li>
              <li>Mise en place des PLVs</li>
              <li>Caisse et comptage de caisse</li>
              <li>Mise à jour des caisses et des bornes</li>
              <li>Organisation des anniversaires (réservation, préparation, animation)</li>
              <li>Gestion de l'équipe en salle</li>
              <li>Formation des nouveaux aux postes du comptoir et de la salle</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Conseillière de vente _ Jacadi (Vélizy)
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="cardBody">
            <ul>
              <li>Caisse</li>
              <li>Vente / conseil</li>
              <li>Fidélisation des clients</li>
              <li>Mise en place des vêtements / de la puériculture</li>
              <li>Création de liste de naissance</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Cheffe de classe _ BlKid's (Sakasegawa, Japon)
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="cardBody">
            <ul>
              <li>Enseignement de l'anglais</li>
              <li>Gestion d'une équipe de 5 enseignants</li>
              <li>Etude des plannings enfants / adultes</li>
              <li>Création de spectacles</li>
              <li>Respect de l'hygiène et de la sécurité</li>
              <li>Organisation de sorties</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Hôtesse / serveuse _ Mama's bar (Osaka, Japon)
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="cardBody">
            <ul>
              <li>Réception des clients</li>
              <li>Préparation / service des boissons</li>
              <li>Entretien de conversations</li>
              <li>Karaoke</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingFive">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Serveuse / hôtesse _ Izakaya / Karaoke / Recycle shop (Kyoto, Japon)
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="cardBody">
            <ul>
              <li>Mise en place / préparation des aliments</li>
              <li>Prise de commandes / service en salle</li>
              <li>Plonge, nettoyage des locaux</li>
              <li>Conversation avec les clients comptoir</li>
              <li>Déménagement / agencement de meubles</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Fille au pair (Kyoto, Japon)
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="cardBody">
            <ul>
              <li>Garde de 2 enfants 6-7 jours /7</li>
              <li>Courses, préparation des repas</li>
              <li>Sorties pédagogiques</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="contact" class="container-fluid contact">
  <div class="container contact2">
    <div class="col-xs-12">
      <h2>Si vous souhaitez me contacter ...</h2>
    </div>
    <div class="row">
      <div class="col-sm contactBox0 contactBox1">
        <i class="contactIcon fas fa-map-signs"></i>
        <h4>Où ?</h4>
        <p>Chartres, Versailles,
          <br>Paris, Le Mans</p>
      </div>
      <div class="col-sm contactBox0 contactBox2">
        <i class="contactIcon fas fa-at"></i>
        <h4>Par mail ?</h4>
        <p>
          <a href="maquet.alexandra@hotmail.com">maquet.alexandra@hotmail.com</a>
        </p>
      </div>
      <div class="col-sm contactBox0 contactBox3">
        <i class="contactIcon fas fa-phone"></i>
        <h4>Par téléphone?</h4>
        <p>06.51.77.15.89</p>
      </div>
      <div class="col-sm contactBox0 contactBox4">
        <i class="contactIcon fas fa-comments"></i>
        <h4>Via internet?</h4>
        <p>
          <a href="https://www.linkedin.com/in/alexandra-maquet/">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fab fa-skype" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/AlexandraMaquet">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
          <a href="https://www.malt.fr/profile/alexandramaquet" data-id="5a648f3edb554c2f6e1e61b3" class="hopwork_button" data-width="small"
            data-layout="scare" data-colorscheme="blue" data-recos="true" data-bgrecos="clear" [ngStyle]="{'background':'url(' + assets/malt + ') no-repeat center center'}">
          </a>
          <a href="https://www.malt.fr/profile/alexandramaquet" target="_blank"><img class="malt" src="../assets/malt.svg" alt="logo malt" title="logo malt"></a>

        </p>

      </div>
    </div>

  </div>
</section>
