<section class="fontPrincipal container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 titre">
        <h1>Alexandra Maquet</h1>
        <h2>* Développeuse web *</h2>
      </div>
      <div class="col-xs-12 col-md-6 textImg">
        <p>Il y avait en Westphalie, dans le château de M. le baron de Thunder-ten-tronckh, un jeune garçon à qui la nature
          avait donné les moeurs les plus douces. Sa physionomie annonçait son âme. Il avait le jugement assez droit, avec
          l'esprit le plus simple ; c'est, je crois, pour cette raison qu'on le nommait Candide. Les anciens domestiques
          de la maison soupçonnaient qu'il était fils de la soeur de monsieur le baron et d'un bon et honnête gentilhomme
          du voisinage, que cette demoiselle ne voulut jamais épouser parce qu'il n'avait pu prouver que soixante et onze
          quartiers, et que le reste de son arbre généalogique avait été perdu par l'injure du temps. Monsieur le baron était
          un des plus puissants seigneurs de la Westphalie, car son château avait une porte et des fenêtres. Sa grande salle
          même était ornée d'une tapisserie. Tous les chiens de ses basses-cours composaient une meute dans le besoin ; ses
          palefreniers étaient ses piqueurs ; le vicaire du village était son grand aumônier. Ils l'appelaient tous monseigneur,
          et ils riaient quand il faisait des contes. Madame la baronne, qui pesait environ trois cent cinquante livres,
          s'attirait par là une très grande considération, et faisait les honneurs de la maison avec une dignité qui la rendait
          encore plus respectable. Sa fille Cunégonde, âgée de dix-sept ans, était haute en couleur, fraîche, grasse, appétissante.
          Le fils du baron paraissait en tout digne de son père. Le précepteur Pangloss était l'oracle de la maison, et le
          petit Candide écoutait ses leçons avec toute la bonne foi de son âge et de son caractère. Pangloss enseignait la
          métaphysico-théologo-cosmolonigologie. Il prouvait admirablement qu'il n'y a point d'effet sans cause, et que,
          dans ce meilleur des mondes possibles, le château de monseigneur le baron était le plus beau des châteaux et madame
          la meilleure des baronnes possibles. « Il est démontré, disait-il, que les choses ne peuvent être autrement : car,
          tout étant fait pour une fin, tout est nécessairement pour la meilleure fin. Remarquez bien que les nez ont été
          faits pour porter des lunettes, aussi avons-nous des lunettes. Les jambes sont visiblement instituées pour être
          chaussées, et nous avons des chausses. Les pierres ont été formées pour être taillées, et pour en faire des châteaux,
          aussi monseigneur a un très beau château ; le plus grand baron de la province doit être le mieux logé ; et, les
          cochons étant faits pour être mangés, nous mangeons du porc toute l'année : par conséquent, ceux qui ont avancé
          que tout est bien ont dit une sottise ; il fallait dire que tout est au mieux. » Candide écoutait attentivement,
          et croyait innocemment ; car il trouvait Mlle Cunégonde extrêmement belle, quoiqu'il ne prît jamais la hardiesse
          de le lui dire. Il concluait qu'après le bonheur d'être né baron de Thunder-ten-tronckh, le second degré de bonheur
          était d'être Mlle Cunégonde ; le troisième, de la voir tous les jours ; et le quatrième, d'entendre maître Pangloss,
          le plus grand philosophe de la province, et par conséquent de toute la terre. Un jour, Cunégonde, en se promenant
          auprès du château, dans le petit bois qu'on appelait parc, vit entre des broussailles le docteur Pangloss qui donnait
          une leçon de physique expérimentale à la femme de chambre de sa mère, petite brune très jolie et très docile. Comme
          Mlle Cunégonde avait beaucoup de dispositions pour les sciences, elle observa, sans souffler, les expériences réitérées
          dont elle fut témoin ; elle vit clairement la raison suffisante du docteur, les effets et les causes, et s'en retourna
          tout agitée, toute pensive, toute remplie du désir d'être savante, songeant qu'elle pourrait bien être la raison
          suffisante du jeune Candide, qui pouvait aussi être la sienne. Elle rencontra Candide en revenant au château, et
          rougit ; Candide rougit aussi ; elle lui dit bonjour d'une voix entrecoupée, et Candide lui parla sans savoir ce
          qu'il disait. Le lendemain après le dîner, comme on sortait de table, Cunégonde et Candide se trouvèrent derrière
          un paravent ; Cunégonde laissa tomber son mouchoir, Candide le ramassa, elle lui prit innocemment la main, le jeune
          homme baisa innocemment la main de la jeune demoiselle avec une vivacité, une sensibilité, une grâce toute particulière
          ; leurs bouches se rencontrèrent, leurs yeux s'enflammèrent, leurs genoux tremblèrent, leurs mains s'égarèrent.
          M. le baron de Thunder-ten-tronckh passa auprès du paravent, et voyant cette cause et cet effet, chassa Candide
          du château à grands coups de pied dans le derrière ; Cunégonde s'évanouit ; elle fut souffletée par madame la baronne
          dès qu'elle fut revenue à elle-même ; et tout fut consterné dans le plus beau et le plus agréable des châteaux
          possibles.
        </p>
      </div>
    </div>
  </div>

  <!-- nav bar -->
  <div class="container-fluid navBar">
    <nav>
      <ul>
        <li>
          <a href="#perso">À PROPOS</a>
        </li>
        <li>
          <a href="#moi">MES COMPÉTENCES</a>
        </li>
        <li>
          <a href="#exp">MES EXPÉRIENCES</a>
        </li>
        <li>
          <a href="#contact">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- fin nav bar -->

</section>

<section id="perso" class="container-fluid">
  <div class="perso container">
    <div class="top-border contactleft"></div>
    <div class="top-border contactright"></div>
    <h2>Qui suis-je ?</h2>
    <p>Actuellement étudiante dans le développement web -full stack JS-, je suis avant tout une grande passionnée de nouvelles
      technologies (domotique, bots, A.I.,...), d'art classique || contemporain (peinture, musique, tatouage, architecture), de jeux vidéos 
      (simulation, FPS), d'histoire (l'univers, les hommes...), de langues (hawaiien et espagnol), d'horlorgerie,
      d'astronomie et encore pleins d'autres choses. J'aime de manière générale apprendre de nouvelles choses!
    </p>

  </div>
</section>

<section id="moi" class="container-fluid fontPrincipal">
  <div class="container moi2">
    <div class="col-xs-12">
      <h2>Mes compétences</h2>
      <div class="row">
        <div class="col-xs-12 col-md-6 left">
          <p>HTML 5</p>
          <p>CSS 3</p>
          <p>Javascript / Typescript</p>
          <p>Bootstrap 3+</p>
          <p>Angular 4+</p>
          <p>VueJs</p>
          <p>JQuery</p>
          <p>Firebase</p>
          <p>Ionic</p>
          <p></p>
        </div>

        <div class="col-xs-12 col-md-6 right">
          <p>Scrum</p>
          <p>SEO</p>
          <p>Visual Studio Code</p>
          <p>Inkscape</p>
          <p>Git / Git Flow</p>
          <p>UX</p>
          <p>Anglais</p>
          <p>Japonais</p>
          <p>Espagnol</p>
          <p></p>
        </div>
      </div>
    </div>
    <!-- <div class="text-center btn-style double-line">
      <div class="btn-styleLine">
        <a href="#" class="btn btn-lg btn-outline">
              <i class="fa fa-fw fa-download"></i> Mon CV
          </a>
      </div>
    </div> -->
  </div>

</section>

<section id="projets">
  <div class="container-fluid projetBg">
    <div class="container projet">

      <div class="col-xs-12 ">
        <h2>Mes projets</h2>
      </div>

      <div class="row bloc_content_area">

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4><i class="fa fa-briefcase" aria-hidden="true"></i> Co-working</h4>
              <div class="separetor"></div>
              <p>Essai pour la création d'un site de co-working au-dessus de mon école:
                <br>
                <br>
                <a class="link" href="https://github.com/matthieumarais/CoworkingLaLoupe">repo git</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4><i class="fa fa-address-card" aria-hidden="true"></i> Pokédex</h4>
              <div class="separetor"></div>
              <p>Prototype d'un pokédex réalisé lors d'un hackaton interne à l'école.
                <br>
                <br>
                <a class="link" href="https://github.com/PierreTsia/pokedex">repo git</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4><i class="fa fa-gamepad" aria-hidden="true"></i> Jeu de pirates!</h4>
              <div class="separetor"></div>
              <p>Réalisation d'un jeu multijoueur en temps réel en JS sous Angular4.
                <br>
                <br>
                <a class="link" href="https://github.com/AlexandraMaquet/yarr.io">repo git</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4><i class="fas fa-code" aria-hidden="true"></i> Blog</h4>
              <div class="separetor"></div>
              <p>Prototype de blog personnel pour m'exercer au SEO et à l'UX.
                <br>
                <br>
                <a class="link" href="https://enchaussettejecode.000webhostapp.com/">coding chaussette</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4><i class="fa fa-tree" aria-hidden="true"></i> Wild christmas</h4>
              <div class="separetor"></div>
              <p>Prototype de site de noël lors d'un hackaton de 32h au sein de l'école.
                <br>
                <br>
                <a class="link" href="https://github.com/AlexandraMaquet/WildChristmas">repo git</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="bloc fadeIn" data-wow-duration="4s">
            <div class="right_text">
              <h4><i class="fas fa-users" aria-hidden="true"></i> Foyer de vie</h4>
              <div class="separetor"></div>
              <p>_ EN COURS _ Projet client pour la création d'un site administrable.
                <br>
                <br>
                <a class="link" >en cours</a>
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

<section id="exp" class="container-fluid exp">
  <div class="container exp2">
    <div class="col-xs-12">
      <h2>Mes expériences</h2>
    </div>

    <div id="accordion" role="tablist">

      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h4 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Hôtesse principale _ McDonald's (Versailles)
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="cardBody">
            <ol>
              <li>Gestion des clients (renseignements, conglits)</li>
              <li>Mise en place des PLVs</li>
              <li>Caisse et comptage de caisse</li>
              <li>Mise à jour des caisses et des bornes</li>
              <li>Organisation des anniversaires (réservation, préparation, animation)</li>
              <li>Gestion de l'équipe en salle</li>
              <li>Formation des nouveaux aux postes du comptoir et de la salle</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Conseillière de vente _ Jacadi (Vélizy)
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="cardBody">
            <ol>
              <li>Caisse</li>
              <li>Vente / conseil</li>
              <li>Fidélisation des clients</li>
              <li>Mise en place des vêtements / de la puériculture</li>
              <li>Création de liste de naissance</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingThree">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Cheffe de classe _ BlKid's (Sakasegawa, Japon)
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="cardBody">
            <ol>
              <li>Enseignement de l'anglais</li>
              <li>Gestion d'une équipe de 5 enseignants</li>
              <li>Etude des plannings enfants / adultes</li>
              <li>Création de spectacles</li>
              <li>Respect de l'hygiène et de la sécurité</li>
              <li>Organisation de sorties</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingFour">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Hôtesse / serveuse _ Mama's bar (Osaka, Japon)
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="cardBody">
            <ol>
              <li>Réception des clients</li>
              <li>Préparation / service des boissons</li>
              <li>Entretien de conversations</li>
              <li>Karaoke</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingFive">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Serveuse / hôtesse _ Izakaya / Karaoke / Recycle shop (Kyoto, Japon)
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="cardBody">
            <ol>
              <li>Mise en place / préparation des aliments</li>
              <li>Prise de commandes / service en salle</li>
              <li>Plonge, nettoyage des locaux</li>
              <li>Conversation avec les clients comptoir</li>
              <li>Déménagement / agencement de meubles</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="headingSix">
          <h4 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Fille au pair (Kyoto, Japon)
              </a>
          </h4>
        </div>
        <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="cardBody">
            <ol>
              <li>Garde de 2 enfants 6-7 jours /7</li>
              <li>Courses, préparation des repas</li>
              <li>Sorties pédagogiques</li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="contact" class="container-fluid contact">
  <div class="container contact2">
    <div class="col-xs-12">
      <h2>Si vous souhaitez me contacter ...</h2>
    </div>
    <div class="row">
      <div class="col-sm contactBox0 contactBox1">
        <i class="contactIcon fas fa-map-signs"></i>
        <h4>Où ?</h4>
        <p>Chartres, Versailles,<br>Paris, Le Mans</p>
      </div>
      <div class="col-sm contactBox0 contactBox2">
        <i class="contactIcon fas fa-at"></i>
        <h4>Par mail ?</h4>
        <p><a href="maquet.alexandra@hotmail.com">maquet.alexandra@hotmail.com</a></p>
      </div>
      <div class="col-sm contactBox0 contactBox3">
        <i class="contactIcon fas fa-phone"></i>
        <h4>Par téléphone?</h4>
        <p>06.51.77.15.89</p>
      </div>
      <div class="col-sm contactBox0 contactBox4">
        <i class="contactIcon fas fa-comments"></i>
        <h4>Via internet?</h4>
        <p>
          <a href="https://www.linkedin.com/in/alexandra-maquet/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
          <a href=""><i class="fab fa-skype" aria-hidden="true"></i></a>
          <a href="https://github.com/AlexandraMaquet"><i class="fab fa-github" aria-hidden="true"></i></a>
        </p>

      </div>
    </div>

  </div>
</section>
